body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  display: block;
}

.container{
  max-width: 960px;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
}
/* Navigation */
nav {
  background-color: Cadetblue;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1rem;
  color: white;
}
.white-logo {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.navigation a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}
.nav {
  width: auto;
  margin: auto;
}
/* Header */
header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}
.headline {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: White;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  display: flex;
  align-items: flex-end;
}
.header {
  display: flex;
  justify-content: flex-end;
}
/* Icon section*/
.icon-flex {
  justify-content: center;
  margin-top: 3rem;
}
figure {
  width: 5rem;
  height: 8rem;
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.icon h4 {
  text-align: center;
}
.paper {
  width: 3.5rem;
}
.ruler {
  width: 5rem;
}
.truck {
  width: 5rem;
}
/* Philosophy and Contact */
.info-flex {
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.info {
  width: 35%;
}
.phil {
  margin-right: 2.5%;
}
.app {
  margin-left: 2.5%;
}
.phil-app h2 {
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: Cadetblue;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
}
/* Footer */
footer{
  background-color: Azure;
  padding: 4rem 4rem;
}
.black-logo {
  height: 1.5rem;
  margin-right: 1rem;
}
